elpa
*.html
*.tex
*.pdf
*.org#
# user/
sandbox
el-get
/html-clip-w32.py
/ac-comphist.dat
auto-save-list/
uservar
test
.DS_STORE
ltximg

## some files in 'user' folder
recentf
projectile-bookmarks.eld
ac-comphist.dat